body{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background:#000;
}
p{
	font-size: 10px;
	line-height: 10px;
	background: url(nica1.jpg) no-repeat center /cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(0,0,0,.2);
}